@import "../helper/helperStyle.scss";

.faqBox{
    padding: 35px;
    width: 100vw;
    min-height: 90vh;
    flex-direction: column;
    background-color:$backColor;
    @include displayFlex(flex-start,center)
}
.faqTopText{
    margin-bottom: 15px;
}