@import "../helper/helperStyle.scss";

.faqBox{
    position: relative;
    padding: 35px;
    width: 100vw;
    min-height: 90vh;
    flex-direction: column;
    background-color:$backColor;
    @include displayFlex(flex-start,center)
}
.faqTopText{
    margin-bottom: 15px;
}
.rollsImg{
    position: absolute;
    width: 350px;
    bottom: -45px;
    z-index: 999;
}