@import "../helper/helperStyle.scss";

.faqBox{
    padding: 35px;
    width: 100vw;
    height: 90vh;
    border:1px solid black;
    flex-direction: column;
    @include displayFlex(flex-start,center)
}
.faqTopText{
    margin-bottom: 15px;
}