.countDounnBox{
    width: 100vw;
    min-height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    background:linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
}
@media (width<=435px) {
    .countDounnBox{
        flex-direction: column;
    }
    
}
.count{
    font-weight: 500;
    font-size: 45px;
}